body {
  margin: 0px;
  font-size: 13px;
  font-family: Arial;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: grid;
  height: 100vh; 
  grid-template-rows: 60px auto 120px;
}


